/* Dialog.css */
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
  z-index: 1000; /* Make sure dialog is above other content */
}
.dialog.open {
  visibility: visible;
  opacity: 1;
}
.dialog-content {
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.dialog-header {
  display: flex;
  justify-content: flex-end;
}
.close-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
}
/* Styling for the button to open the dialog */
button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 4px;
}
button:hover {
  background-color: #e7e7e7;
}

.messagePanel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(253, 243, 243, 0.2);
}

.dashboard-container{
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  background-color: red;
}

.messageDisplayContainer{
  display: flex;
  justify-content: flex-start;
 


}

.messagesContainer{
  display: flex;
  height: 100vh;
  width: 100%;
align-items: flex-start;


}

  .message {
    display: flex;
    align-items: flex-start;
 padding-top: 1rem;
    
  }
  

  .message .speech-bubble {
    background-color:Black;
    color: var(--white);
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 500px;
  }
  

  .mainContent{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  
  
	h1{
		font-size: 40px;
		transition-duration: 1s;
		transition-timing-function: ease-in-put;
		font-weight: 200;
	}
 