body {
  transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */

}

body.light {
  background-color: #fff; /* Set your light background color */
  color: #000; /* Set your light text color */
}

body.dark {
  background-color: #000; /* Set your dark background color */
  color: #fff; /* Set your dark text color */
}