@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(180, 176, 176);
}

:root {
  --primary: #fff
  /*font-size: clamp(.5rem, 100vw, 1.5rem);*/ ;
}

.navbar {
  position: fixed;
  top: 0;
  background-color: white;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  white-space: nowrap;
  border-bottom: 1px solid black;
}

.navbar img {
  width: 50%;
}

/*width: */
.navbar-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 1.5vw;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: flex-start;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 0.5rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.otherButton {
  display: none;
}

@media screen and (max-width: 1100px) {
  .buttons1 {
    display: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    top: 85px;
    background: white;
    left: 0;
    opacity: 1;
    z-index: 1;
  }
  .nav-links {
    font-size: 20px;
    margin-left: 20px;
    color: black;
  }
  .otherButton {
    padding: 0.5rem;
    margin-top: -1rem;
    display: flex;
    align-items: center;
  }
  .navbar {
    justify-content: end;
    align-items: center;
  }
  .siteLogo {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .otherButton {
    display: none;
  }
  .NavbarItems {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
  }
  .nav-menu.active {
    background: #1f293b;
    left: 0;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }
  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
.buttons1Container {
  display: flex;
  width: 33vw;
  justify-content: flex-end;
  align-items: center;
}

.buttons1 {
  padding: 0.5rem;
  margin-top: -1rem;
}

.btn {
  padding: 8px 20px;
  outline: white;
  cursor: pointer;
  font-weight: 400;
  border: 10 px solid white;
}

.btn--primary {
  background-color: transparent;
  color: white;
  border: 0.5px solid white;
}

.btn--outline {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0.5px solid black;
  margin-right: 1rem;
  transition: all 0.3s ease-out;
  color: var(--blue-0);
  background-color: var(--blue-5);
}

.btn--outlineBlack {
  background-color: transparent;
  color: var(--blue-9);
  width: 100%;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  transition: all 0.3s ease-out;
  border: var(--border-size-2) solid var(--blue-5);
  background-color: transparent;
  border-radius: var(--radius-2);
}
.btn--outlineBlack:hover, .btn--outlineBlack:focus {
  cursor: pointer;
  color: var(--blue-0);
  background-color: var(--blue-5);
}

.btn--channel {
  background-color: transparent;
  color: var(--blue-9);
  width: 100%;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  transition: all 0.3s ease-out;
  border: var(--border-size-2) solid var(--blue-5);
  background-color: transparent;
  border-radius: var(--radius-2);
}
.btn--channel:hover, .btn--channel:focus {
  cursor: pointer;
  color: var(--blue-0);
  background-color: var(--blue-5);
}

.btn--medium {
  padding: 8px 20px;
  margin-top: 2.5vh;
  font-size: clamp(0.5rem, 1vw, 2rem);
}

.btn--large {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--medium2 {
  padding: 8px 20px;
  margin-top: 2.5vh;
  font-size: clamp(0.5rem, 1vw, 2rem);
}

.btn--medium:hover, .btn--large:hover {
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: var(--blue-9);
  border: var(--border-size-2) solid var(--blue-5);
}

.btn--medium2:hover, .btn--medium2:focus {
  cursor: pointer;
  color: var(--blue-0);
  background-color: var(--blue-5);
}

.hero {
  background-image: url("@/images/HeroSection.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.description {
  width: 55%;
  height: 30%;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #FFFFFF;
}

.description p {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 5rem;
}

.heroButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.loginContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
}

.loginImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.loginImage img {
  border-radius: 10px;
  height: 50vh;
  width: 90%;
  padding-left: 5rem;
  padding-right: 5rem;
}

.loginForms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  padding-right: 20rem;
}

.inputStyle {
  width: 120%;
  height: 3rem;
}

label {
  color: black;
}

h4 {
  color: black;
  font-weight: 500;
}

.submit {
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);
  width: 120%;
  color: var(--blue-9);
  border: var(--border-size-2) solid var(--blue-5);
  background-color: transparent;
  border-radius: var(--radius-2);
  margin: 0 auto;
}
.submit:hover, .submit:focus {
  cursor: pointer;
  color: var(--blue-0);
  background-color: var(--blue-5);
}

.submit img {
  margin-left: 100px; /* Adjust the margin as needed for proper spacing */
}

.custom-svg {
  fill: #ff0000; /* Change this to the desired color */
}

.bottom-sheet {
  position: fixed;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  line-height: 2;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0;
  margin-left: 25%;
  overflow: hidden;
  transform: translateY(0%);
  transition: transform 1s ease-in-out;
  z-index: 1000;
  color: white;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgb(255, 255, 255);
}

.bottom-sheet.semi-fully-open {
  transition: transform 1s ease-in-out;
  height: 75%;
}

.bottom-sheet form label {
  font-size: 1rem;
  font-weight: 400;
}

.input--default {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}

/* Dialog.css */
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
  z-index: 1000; /* Make sure dialog is above other content */
}

.dialog.open {
  visibility: visible;
  opacity: 1;
}

.dialog-content {
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.dialog-header {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
}

/* Styling for the button to open the dialog */
button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 4px;
}

button:hover {
  background-color: #e7e7e7;
}

.messagePanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(253, 243, 243, 0.2);
}

.dashboard-container {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
}

.messageDisplayContainer {
  display: flex;
  justify-content: flex-start;
}

.messagesContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: flex-start;
}

.message {
  display: flex;
  align-items: flex-start;
  padding-top: 1rem;
}

.message .speech-bubble {
  background-color: Black;
  color: var(--white);
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  background-color: blue;
}

.labelled-input {
  display: flex;
  gap: var(--size-3);
  flex-wrap: wrap;
  align-items: center;
}

.warning-message {
  display: grid;
  grid-template-columns: var(--size-fluid-3) 1fr;
  gap: var(--size-3);
  align-items: center;
}
.warning-message > svg {
  inline-size: 100%;
  stroke: var(--text-2);
}

.warning-message p + input {
  width: 1000%;
}

.icon-headline {
  display: flex;
  gap: var(--size-3);
  align-items: center;
}
.icon-headline > svg {
  inline-size: 2em;
  stroke: var(--text-2);
}

.confirm-button {
  color: White;
  background-color: Gray;
}

html:has(dialog[open][modal-mode=mega]) {
  overflow: hidden;
}

dialog {
  display: grid;
  align-content: start;
  background: var(--surface-2);
  color: var(--text-1);
  max-inline-size: min(90vw, var(--size-content-3));
  margin: auto;
  padding: 0;
  position: fixed;
  inset: 0;
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-6);
  z-index: var(--layer-important);
  overflow: hidden;
  transition: opacity 0.5s var(--ease-3);
}
@media (--motionOK) {
  dialog {
    animation: var(--animation-scale-down) forwards;
    animation-timing-function: var(--ease-squish-3);
  }
}
@media (--OSdark) {
  dialog {
    border-block-start: var(--border-size-1) solid var(--surface-3);
  }
}
@media (--md-n-below) {
  dialog[modal-mode=mega] {
    margin-block-end: 0;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
  }
}
@media (--md-n-below) and (--motionOK) {
  dialog[modal-mode=mega] {
    animation: var(--animation-slide-out-down) forwards;
    animation-timing-function: var(--ease-squish-2);
  }
}
dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}
dialog[modal-mode=mega]::backdrop {
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
dialog[modal-mode=mini]::backdrop {
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
dialog::backdrop {
  transition: -webkit-backdrop-filter 0.5s ease;
  transition: backdrop-filter 0.5s ease;
  transition: backdrop-filter 0.5s ease, -webkit-backdrop-filter 0.5s ease;
}
dialog[loading] {
  visibility: hidden;
}
@media (--motionOK) {
  dialog[open] {
    animation: var(--animation-slide-in-up) forwards;
  }
}
dialog > form {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  max-block-size: 80vh;
  max-block-size: 80dvb;
}
dialog > form > article {
  overflow-y: auto;
  max-block-size: 100%; /* safari */
  overscroll-behavior-y: contain;
  display: grid;
  justify-items: flex-start;
  gap: var(--size-3);
  box-shadow: var(--shadow-2);
  z-index: var(--layer-1);
  padding-inline: var(--size-5);
  padding-block: var(--size-3);
}
@media (--OSlight) {
  dialog > form > article {
    background: var(--surface-1);
  }
  dialog > form > article::-webkit-scrollbar {
    background: var(--surface-1);
  }
}
@media (--OSdark) {
  dialog > form > article {
    border-block-start: var(--border-size-1) solid var(--surface-3);
  }
}
dialog > form > header {
  display: flex;
  gap: var(--size-3);
  justify-content: space-between;
  align-items: flex-start;
  padding-block: var(--size-3);
  padding-inline: var(--size-5);
}
dialog > form > header > button {
  border-radius: var(--radius-round);
  padding: 0.75ch;
  aspect-ratio: 1;
  flex-shrink: 0;
  place-items: center;
  stroke: currentColor;
  stroke-width: 3px;
}
dialog > form > footer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: var(--size-5);
  padding-block: var(--size-3);
}
dialog > form > footer > menu {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
  padding-inline-start: 0;
}
dialog > form > footer > menu:only-child {
  margin-inline-start: auto;
}
@media (max-width: 410px) {
  dialog > form > footer > menu button[type=reset] {
    display: none;
  }
}
dialog > form > :is(header, footer) {
  background-color: var(--surface-2);
}
@media (--OSdark) {
  dialog > form > :is(header, footer) {
    background-color: var(--surface-1);
  }
}

.main__share-input, .main__hexcode {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: #555459;
  padding: 0 0.5rem;
}

:root {
  --column-bg: #ae0001;
  --menu-bg-hover: #680001;
  --active-item: #D3A625;
  --active-item-text: #680001;
  --hover-item: #BE0002;
  --text-color: #FFFFFF;
  --active-presence: #00FFBA;
  --mention-badge: #DE4C0D;
}

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  color: #f4f3f8;
}

h1,
h2,
h3,
h4 {
  color: #2C2D30;
}

strong {
  font-weight: 700;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  text-align: left;
  cursor: pointer;
}
button:focus, button:hover, button:active {
  outline: none;
}

.hover-dialog {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  z-index: 1000;
  color: #000;
}

.slack {
  display: flex;
  flex-direction: column;
  width: 17.4%;
}
@supports (display: grid) {
  .slack {
    display: grid;
    grid-template-columns: 75px 250px 1fr;
    grid-template-rows: 1fr;
  }
}

.teams {
  width: 100%;
  height: 100%;
  background: var(--column-bg, #ae0001);
}
.teams__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.teams__item {
  counter-increment: team-counter;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  padding-right: 3rem;
}
.teams__item:after {
  content: "⌘" counter(team-counter);
}
.teams__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.4rem 0 0.5rem;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  border-radius: 5px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  font-weight: 700;
}
.teams__button--active {
  color: #fff;
  background: rgba(255, 255, 255, 0.4);
}
.teams__button--active:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  width: 7px;
  height: 100%;
  background: #fff;
  opacity: 0.7;
  border-radius: 3px;
}
.teams__button:hover {
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
}

.team-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px 18px 0;
}
.team-menu:hover {
  background: var(--menu-bg-hover, #680001);
}
.team-menu__name {
  font-size: 18px;
  font-weight: 900;
  color: var(--text-color, #fff);
}
.team-menu__status {
  font-size: 15px;
  line-height: 1.8;
  color: var(--text-color, #fff);
}
.team-menu__status:before {
  content: "";
  display: inline-block;
  margin-right: 0.2rem;
  width: 9px;
  height: 9px;
  background: var(--active-presence, #00FFBA);
  border-radius: 50%;
}
.team-menu__username {
  opacity: 0.6;
}
.team-menu__alarm {
  display: flex;
  font-size: 25px;
  color: var(--text-color, #fff);
}

.sidebar {
  position: fixed;
  width: 17.5%;
  background: var(--column-bg, #ae0001);
  color: var(--text-color, #fff);
  height: 100vh;
  overflow-y: auto;
  z-index: 9;
  left: 0;
}

.threads {
  margin: 0.6rem 0;
  padding: 0 18px;
  opacity: 0.7;
}
.threads__icon {
  margin-right: 3px;
}

.channels,
.dm {
  margin: 0.5rem 0 1.5rem;
  padding-right: 18px;
}
.channels__button, .channels__heading,
.dm__button,
.dm__heading {
  padding: 0 0 0 18px;
  width: 100%;
  color: var(--text-color, #fff);
}
.channels__number,
.dm__number {
  display: inline-block;
  position: relative;
  top: -1px;
  margin-left: 2px;
  font-size: 13px;
  opacity: 0.5;
}
.channels__add,
.dm__add {
  font-size: 20px;
  color: var(--text-color, #fff);
}
.channels__heading,
.dm__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.1;
  text-transform: uppercase;
  opacity: 0.6;
}
.channels__button,
.dm__button {
  padding: 4px 0 4px 18px;
  display: flex;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.channels__button span,
.dm__button span {
  opacity: 0.7;
  margin-left: 1rem;
}
.channels__button:before,
.dm__button:before {
  padding: 0 0.3rem;
}
.channels__button:hover,
.dm__button:hover {
  background: var(--hover-item, #BE0002);
  padding-left: 4rem;
}
.channels__button--active, .channels__button--active:hover,
.dm__button--active,
.dm__button--active:hover {
  background: var(--active-item, #D3A625);
  color: var(--active-item-text, #680001);
}

.channels__button:before {
  content: "#";
  opacity: 0.5;
  margin-left: -6rem;
}

.dm__button:before {
  content: "\f401";
  font-size: 0.6rem;
  margin-left: -3rem;
}
.dm__button--online:before {
  content: "\f21b";
  color: var(--active-presence, #00FFBA);
}
.dm__button--slackbot:before {
  content: "\f141";
  color: var(--active-presence, #00FFBA);
  font-size: 0.75rem;
}
.dm__button--active.dm__button--online:before, .dm__button--active.dm__button--slackbot:before {
  color: var(--active-item-text, #680001);
}

.main {
  position: relative;
  height: 100%;
  flex: 1;
}
.main__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  background: #fff;
}
.main__h1 {
  flex: 1;
  font-size: 1.4rem;
  font-weight: 900;
  text-align: center;
}
.main__h2 {
  font-size: 1.5rem;
  font-weight: 900;
}
.main__h3 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 900;
}
.main__content {
  position: relative;
  top: 60px;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}
.main__container {
  padding: 2rem;
  margin: 0 auto;
  width: 55%;
  max-width: 860px;
  min-width: 800px;
}
.main__section {
  padding: 2rem 0 0;
  border-bottom: 1px solid #DDD;
}
.main__section:last-of-type {
  border-bottom: 0;
}
.main__field {
  position: relative;
  margin-top: 1rem;
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  padding-right: 18px;
}
.main__field--full {
  max-width: initial;
  width: 100%;
  margin-top: 2rem;
}
.main__label {
  font-weight: 700;
  display: block;
  font-size: 1.05rem;
  line-height: 1.5rem;
}
.main__color-pickers {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 98%;
}
.main__color-field {
  width: 100%;
  display: flex;
  margin-top: 0.25rem;
  border: 1px solid #C5C5C5;
  border-radius: 0.25rem;
  padding: 0.25rem;
}
.main__themes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.main__colorpicker {
  visibility: hidden;
}
.main__hexcode {
  flex: 1;
  border: none;
  min-width: 0;
}
.main__hexcode:focus {
  outline: none;
}
.main__share-input {
  display: block;
  width: 100%;
  padding: 0 0.75rem;
  margin: 0.25rem 0 5rem;
  border: 1px solid #C5C5C5;
  border-radius: 0.25rem;
  height: 40px;
  line-height: 40px;
}
.main__share-input:hover, .main__share-input:focus, .main__share-input:active {
  border-color: #2780F8;
  outline: none;
}
.main__share-input:focus {
  box-shadow: 0 0 7px rgba(39, 128, 248, 0.15);
}
.main__input-wrapper {
  width: 1.9rem;
  height: 1.9rem;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  border: 1px solid #C5C5C5;
  border-radius: 0.25rem;
}
.main__input-wrapper--column-bg {
  background: var(--column-bg, #ae0001);
}
.main__input-wrapper--menu-bg-hover {
  background: var(--menu-bg-hover, #680001);
}
.main__input-wrapper--active-item {
  background: var(--active-item, #D3A625);
}
.main__input-wrapper--active-item-text {
  background: var(--active-item-text, #680001);
}
.main__input-wrapper--hover-item {
  background: var(--hover-item, #BE0002);
}
.main__input-wrapper--text-color {
  background: var(--text-color, #fff);
}
.main__input-wrapper--active-presence {
  background: var(--active-presence, #00FFBA);
}
.main__input-wrapper--mention-badge {
  background: var(--mention-badge, #DE4C0D);
}

.radio {
  margin: 0.5rem 4rem 2rem 0;
  width: 130px;
  cursor: pointer;
  text-transform: capitalize;
}
.radio__input {
  min-width: 15px;
  margin: 0 0.75rem 0 0;
  min-height: 1.5rem;
  line-height: 1.5;
}
.radio__wrapper {
  display: flex;
  line-height: 1.5;
}
.radio__img {
  position: relative;
  border-radius: 6px;
  margin: 0 0 0.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
}
.radio__img:after {
  content: "";
  display: block;
  padding-top: 54.5454545455%;
  height: 0;
}
.radio__img--solanum {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60485/solanum.png");
}
.radio__img--chocolate {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60485/chocolate.png");
}
.radio__img--aubergine {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60485/aubergine.png");
}
.radio__img--ochin {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60485/ochin.png");
}
.radio__img--brinjal {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60485/brinjal.png");
}
.radio__img--hoth {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60485/hoth.png");
}
.radio__img--workhard {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60485/workhard.png");
}
.radio__img--monument {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60485/monument.png");
}

.messagesContainer::-webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */
}

/* Handle (thumb) */
.messagesContainer::-webkit-scrollbar-thumb {
  background: #888; /* Adjust thumb color as needed */
  border-radius: 6px; /* Optional: add border-radius for rounded thumbs */
}

/* Handle on hover */
.messagesContainer::-webkit-scrollbar-thumb:hover {
  background: #555; /* Adjust color on hover if needed */
}

.pmContainer {
  display: flex;
  flex-direction: column;
  background-color: gray;
  width: 100%;
}

.messagesContainer {
  flex-grow: 1; /* Makes the container take up the remaining space */
  overflow-y: auto; /* Adds a scrollbar if content overflows */
  margin-top: 7vh; /* Adjust if necessary to account for headerDirect height */
  margin-bottom: 7vh; /* Adjust if necessary to account for headerTo height */
  padding-bottom: 20vh; /* Adjust if necessary to account for composeMessage height */
  margin-top: 14vh;
  scrollbar-color: #888 #e0e0e0; /* thumb and track color */
  scrollbar-width: thin;
}

.headerDirect {
  position: fixed; /* Fixed positioning */
  top: 0; /* Align to the top */
  height: 7vh;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid white;
  z-index: 10; /* Ensure it stays above the messages */
}

.headerTo {
  position: fixed; /* Fixed positioning */
  top: 7vh; /* Position it below the headerDirect */
  height: 7vh;
  width: 100%;
  background-color: rgb(3, 0, 0);
  border-bottom: 1px solid white;
  z-index: 10; /* Same z-index to ensure it's above the messages */
}

.composeMessage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid white;
  width: 70%;
  height: 20vh;
  background-color: rgb(36, 34, 34);
  margin-top: auto; /* Add this line to push it to the bottom */
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 19rem;
}

.composeMessage input {
  width: 90%;
}

.composeMessage button {
  flex: 1;
  text-align: center;
  /* Take up all available space */
}

.channelsHeaders {
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=App.css.map */